# Environment Variables
.env
*.env
.env.local
!.env.example

# OS and IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Backend
hanoiprep_backend/target/
hanoiprep_backend/.env

# Frontend
hanoiprep_frontend/node_modules/
hanoiprep_frontend/dist/
hanoiprep_frontend/.env
